<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a3s.learn2invest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CDB" />
        <activity android:name=".debenturesExemplo" />
        <activity android:name=".lciExemplos" />
        <activity android:name=".LcaExemplos" />
        <activity android:name=".LcExemplos" />
        <activity android:name=".TesouroDiretoExemplos" />
        <activity android:name=".CDBsimulador" />
        <activity android:name=".LcaSimulador" />
        <activity android:name=".LciSimulador" />
        <activity android:name=".Lcsimulador" />
        <activity android:name=".debenturesSimulador" />
        <activity android:name=".TesouroDiretoSimulador"></activity>
    </application>

</manifest>